<main>

  <section>
    <img src="https://api.dicebear.com/9.x/initials/svg?seed=Aiden&backgroundType=gradientLinear"
  alt="avatar" class="w-8 h-8 rounded-4xl" />
  </section>

  <!-- Search section -->
  <section class="m-2">
    <div class="mx-auto flex xl:w-4/6">
      <input type="text" placeholder="Search Blog" class="mr-1 flex-1 rounded-md border-2 px-2 py-1" />
      <button class="cursor-pointer rounded-sm border-2 border-black px-2 py-1 transition-colors hover:bg-black hover:text-white">Search</button>
    </div>
  </section>

  <!-- Blog section -->
  <section class="xs:grid-cols-1 m-2 grid gap-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <!-- Blog -->
    <div class="blog-card cursor-pointer rounded-sm shadow-md inset-shadow-xs">
      <img src="https://media.istockphoto.com/id/1439256518/vector/abstract-colorful-wavy-groovy-psychedelic-background.jpg?s=612x612&w=0&k=20&c=bu4yaI7oqQpzegJ1d5xYYFVGfn3BcDJFDxhUZabbawA=" alt="blog-title" class="h-[200px] w-full rounded-t-sm" />
      <div class="px-2 py-1">
        <span class="text-lg font-semibold">Demystifying the Black Box: Understanding AI ethics and Bias</span>
        <p>We explore the critical questions around AI development and deployment. Join the discussino on fairness, accountability, and the ethical considerations that will define our future.</p>
        <ul class="flex justify-between items-center text-sm text-gray-600 mt-1">
          <li class="flex items-center">
            <img src="https://api.dicebear.com/9.x/initials/svg?seed=Aris%20Throne&backgroundType=gradientLinear"
  alt="avatar" class="w-7 h-7 rounded-4xl" />
            <span class="mx-1">Aris Throne</span>
          </li>
          <li class="mx-0.5">September 5, 2025</li>
          <li class="mx-0.5">10 min read</li>
        </ul>
      </div>
    </div>

    <div class="blog-card cursor-pointer rounded-sm shadow-md inset-shadow-xs">
      <img src="https://media.istockphoto.com/id/2123341035/vector/cute-pink-human-brain.jpg?s=612x612&w=0&k=20&c=lXnMr0YJSi2WqwEPwoYrnvcB_nvXaEzCoMESq0SxaDc=" alt="blog-title" class="h-[200px] w-full rounded-t-sm" />
      <div class="px-2 py-1">
        <span class="text-lg font-semibold"> How to Get Started in Machine Learning: A Practical Roadmap</span>
        <p>From theory to practice, this roadmap provides aspiring data scientists and developers with the steps and resources needed to begin their ML journey.</p>
        <ul class="flex justify-between items-center text-sm text-gray-600 mt-1">
          <li class="flex items-center">
            <img src="https://api.dicebear.com/9.x/initials/svg?seed=Machine%20Learning&backgroundType=gradientLinear"
  alt="avatar" class="w-7 h-7 rounded-4xl" />
           <span class="mx-1">The ML Dev</span>
          </li>
          <li class="mx-0.5">July 12, 2024</li>
          <li class="mx-0.5">21 min read</li>
        </ul>
      </div>
    </div>

    <div class="blog-card cursor-pointer rounded-sm shadow-md inset-shadow-xs">
      <img src="https://static.vecteezy.com/system/resources/previews/028/192/600/non_2x/retro-groovy-psychedelic-background-trippy-wavy-swirl-pattern-graphic-of-colorful-abstract-art-creations-fit-for-minimalist-aesthetic-design-illustration-vector.jpg" alt="blog-title" class="h-[200px] w-full rounded-t-sm" />
      <div class="px-2 py-1">
        <span class="text-lg font-semibold">AI in Healthcare: Saving Lives with Machine Learning</span>
        <p>Explore the transformative impact of machine learning on modern medicine. This post covers diagnostic breakthroughs, personalized treatment plans, and AI's role in drug discovery.</p>
        <ul class="flex justify-between items-center text-sm text-gray-600 mt-1">
          <li class="flex items-center">
            <img src="https://api.dicebear.com/9.x/initials/svg?seed=Lena%20Gupta&backgroundType=gradientLinear"
  alt="avatar" class="w-7 h-7 rounded-4xl" />
           <span class="mx-1">Lena Gupta</span>
          </li>
          <li class="mx-0.5">May 26, 2025</li>
          <li class="mx-0.5">16 min read</li>
        </ul>
      </div>
    </div>

    <div class="blog-card cursor-pointer rounded-sm shadow-md inset-shadow-xs">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAJJTu2yBAd6dja1MKtHdAWnVrGBQkSSdStPiiY2DYRwzaPPiMc-1XuL0bJtLhftf_mDI&usqp=CAU" alt="blog-title" class="h-[200px] w-full rounded-t-sm" />
      <div class="px-2 py-1">
        <span class="text-lg font-semibold">Building Your First LLM: A Step-by-Step Guide</span>
        <p>Ready to build? Our step-by-step tutorial guides you through the process of creating your first large language model, from data preparation to deployment.</p>
        <ul class="flex justify-between items-center text-sm text-gray-600 mt-1">
          <li class="flex items-center">
            <img src="https://api.dicebear.com/9.x/initials/svg?seed=Alex%20Chen&backgroundType=gradientLinear"
  alt="avatar" class="w-7 h-7 rounded-4xl" />
           <span class="mx-1">Alex Chen</span>
          </li>
          <li class="mx-0.5">April 3, 2025</li>
          <li class="mx-0.5">34 min read</li>
        </ul>
      </div>
    </div>
  </section>
</main>
